.submit-button {
  background-color: #915aff;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #6d32f6;
}

.submit-button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}